<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd"
       default-lazy-init="true">

      <!-- 加载配置文件-->
       <context:property-placeholder file-encoding="UTF-8" order="2" ignore-unresolvable="true" ignore-resource-not-found="true"
                                      location="classpath*:config/redis.properties" />

       <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
            <property name="maxTotal" value="${redis.maxTotal}" />
            <property name="maxIdle" value="${redis.maxIdle}" />
            <property name="testOnBorrow" value="${redis.testOnBorrow}" />
            <property name="maxWaitMillis" value="${redis.maxWaitMillis}" />

        </bean>

       <!--Jedis连接客户端-->
       <bean id="jedisFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
           <property name="hostName" value="${redis.host}"/>
           <property name="port" value="${redis.port}"/>
           <property name="usePool" value="true"/>
           <property name="database" value="${redis.default.db}"/>
           <property name="password" value="${redis.pass}"/>
           <property name="timeout" value="${redis.timeout}"/>
           <property name="poolConfig" ref="jedisPoolConfig"/>
       </bean>

        <!--jedis模板，调用redis-->
        <bean id="jedisTemplate" class="org.springframework.data.redis.core.RedisTemplate">
            <property name="connectionFactory" ref="jedisFactory" />
            <!--(key,value)序列化配置，如果不配置，则不能存储实体对象-->
            <property name="keySerializer">
                <bean class="org.springframework.data.redis.serializer.StringRedisSerializer" />
            </property>
            <property name="valueSerializer">
                <bean class="org.springframework.data.redis.serializer.GenericJackson2JsonRedisSerializer" />
            </property>
         </bean>
</beans>